/dist
/node_modules
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.DS_Store
Thumbs.db
.idea/
.project
.classpath
.c9/
*.launch
*.settings/
*.sublime-workspace
.vscode/
*.code-workspace
.history/

.env

*.tsbuildinfo

/prisma/migrations

.docker
